.footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 60rem) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: 60rem) {
      font-size: 0.9rem;
    }

    @media screen and (max-width: 60rem) {
      font-size: 0.8rem;
    }
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;

    &:active,
    &:hover {
      transform: scale(1.2);
    }

    @media screen and (max-width: 60rem) {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}
