.footer {
  .container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 70rem) {
      padding: 0.5rem;
    }

    @media screen and (max-width: 60rem) {
      font-size: 1.1rem;
    }
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s;

    &:active,
    &:hover {
      transform: scale(1.2);
    }
  }
}
