.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border: 2px solid $color-secondary;
    border-radius: 100px;
    font-size: $default-font-size;
    transition: all 0.2s;

    @media screen and (max-width: 80rem) {
      font-size: 1.3rem;
    }
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &--white {
    color: $color-secondary;
    background-color: $color-primary-dark;
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color-primary-dark, 0.5);
    }
  }

  &--primary {
    color: $color-primary-dark;
    border: 2px solid $color-primary-dark !important;

    &:hover {
      background-color: rgba($color-secondary, 0.5);
    }
  }

  &--dark {
    color: $color-secondary;
    background-color: $color-primary-dark;
    transition: all 0.2s;

    &:hover {
      background-color: rgba($color-primary-dark, 0.9);
    }
  }

  &--small {
    margin-top: 1rem;
    padding: 0.5rem 1rem !important;
    font-size: 1.2rem !important;

    @media screen and (max-width: 80rem) {
      font-size: 1.1rem !important;
    }

    @media screen and (max-width: 50rem) {
      font-size: 1rem !important;
    }
  }
}
