.about-me {
  background-color: $color-primary-dark;
  padding: 1.5rem;

  @media screen and (max-width: 70rem) {
    padding: 1rem;
  }
}

.portfolio {
  padding: 1.5rem;
  background-color: $color-secondary;
  color: $color-primary;

  @media screen and (max-width: 70rem) {
    padding: 0.5rem;
  }
}

.contact {
  padding: 1.5rem;
  background-color: $color-primary-dark;

  @media screen and (max-width: 70rem) {
    padding: 0.5rem;
  }
}

.footer {
  font-size: 1.4rem;
  padding: 1rem;
  background-color: $color-secondary;
  color: $color-primary;
}
